name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build and Tag Docker image
      run: |
        # Generate a timestamp
        TIMESTAMP=$(date +%s)
        IMAGE_NAME="duylongcontainer/javabackend"
        
        # Build the image with two tags: the timestamp and 'latest'
        docker build . --file Dockerfile --tag ${IMAGE_NAME}:latest


    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push to Dockerhub
      run: docker push duylongcontainer/javabackend:latest