name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: duylongcontainer/javabackend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build Docker image
      run: |
        # Build the image with the 'latest' tag
        docker build . --file Dockerfile --tag ${{ env.IMAGE_NAME }}:latest

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        # Corrected secret access syntax
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push to Docker Hub
      run: |
        docker push ${{ env.IMAGE_NAME }}:latest